@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities

  // TOC
  .table-of-contents
    @apply p-2
    ul
      @apply pl-4 list-none
    a
      @apply block text-gray-400
      &:hover
        @apply text-gray-900
    .router-link-active
      @apply text-gray-900

  #content .table-of-contents
    @apply max-w-4xl m-2
  // TOC
