@tailwind base@tailwind components@tailwind utilities

@layer base
  body
    color $textColor

  h1
    @apply text-4xl

  h2
    @apply text-2xl pb-1

  h3
    @apply text-xl

  a
    @apply font-medium no-underline

    &:hover
      color $accentColor

  {$contentClass} a, {$sidebarClass} a
    color $accentColor

  p
    // @apply my-5
    & > code
      @apply inline-block mx-1 px-1 bg-gray-200

  p a code
    @apply font-normal
    color $accentColor

  // kbd
  // background #eee
  // border solid 0.15rem #ddd
  // border-bottom solid 0.25rem #ddd
  // border-radius 0.15rem
  // padding 0 0.15em
  blockquote
    @apply text-base text-gray-600 my-4 mx-0 py-1 pr-0 pl-4 border-l-4 border-solid
    border-color $accentColor

    & > p
      @apply m-0

  p, ul, ol
    @apply my-5 leading-relaxed

  ul, ol
    @apply pl-5

    & ul, ol
      @apply my-0

  ul
    @apply list-disc

  ol
    @apply list-decimal

  strong
    @apply font-semibold

@layer utilities
  // TOC
  .table-of-contents
    @apply p-2

    ul
      @apply pl-4 list-none

    a
      @apply block text-gray-400

      &:hover
        @apply text-gray-900

    .router-link-active
      @apply text-gray-900

  #content .table-of-contents
    @apply max-w-4xl m-2

  // social-share
  .social-share-global
    button:focus
      @apply outline-none

    svg
      @apply inline

  .text-accent
    color $accentColor

  .border-accent
    border-color $accentColor

  .navbar-height
    height $navbarHeight

  .footer-height
    height $footerHeight

  .centering-child
    @apply flex items-center justify-center

  // header
  h1, h2, h3, h4, h5, h6
    @apply font-semibold leading-tight

    {$contentClass}:not(.custom) > &
      @apply mt-4 mb-2

      // @apply mt-2 mb-0 pb-4
      // margin-top (0.5rem - $navbarHeight)
      // padding-top ($navbarHeight + 1rem)
      &:first-child
        @apply -mt-6 mb-4

        + p, + pre, + .custom-block
          @apply mt-8

    &:focus a.header-anchor, &:hover a.header-anchor
      @apply opacity-100

  a.header-anchor
    @apply -ml-4 opacity-0

  // twemoji
  img.emoji
    @apply inline w-4 h-4 mr-2 ml-4 my-0
    vertical-align -0.1em

  #sidebar
    max-width $sidebarWidth

  #content
    max-width $contentWidth

  .container
    max-width $containerWidth

  @variants responsive
    .content-width
      width $contentWidth

.search-box input
  @apply w-full !important
